<ion-header>
  <ion-navbar hideBackButton="true"
    [ngClass]="{'despesa':'red','receita':'green','transferência':'gray'}[tipo]"
  >
    <ion-buttons start>
      <button ion-button (click)="sair()">
        <span ion-text color="white" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="grid-basic-page">
    <div class='teclado estrutura_input' (click)='tecladoPage(tipo)'>
        <div class='cifrao'
            [ngClass]="{'despesa':'cor-vermelha','receita':'cor-verde','transferência':'cor-cinza'}[tipo]"
        >R$</div>
        <span class='tamanho'
            [ngClass]="{'despesa':'cor-vermelha','receita':'cor-verde','transferência':'cor-cinza'}[tipo]"
        >{{ valor | numerobrasil }}</span>
    </div>
    <div class='teclado repetir'>
        <span (click)='abrirModalRepetir(tipo)' *ngIf='apagar'
            [ngClass]="{'despesa':'cor-vermelha','receita':'cor-verde','transferência':'cor-cinza'}[tipo]"
        >{{ texto }}</span>
        <span (click)='abrirModalRepetir(tipo)' *ngIf='!apagar'
            [ngClass]="{'despesa':'cor-vermelha','receita':'cor-verde','transferência':'cor-cinza'}[tipo]"
        >{{ texto }}</span>
        <span class='space' *ngIf='!apagar' (click)='limpar()'>
            <ion-icon color='gray' ios="ios-close-circle" md="md-close-circle"></ion-icon>
        </span>
    </div>
    <ion-list>
        <ion-item>
            <ion-label floating class='cor-label'>Data</ion-label>
            <ion-datetime  displayFormat="MM/DD/YY" [(ngModel)]="data"></ion-datetime>
        </ion-item>

        <!--div>
            <button ion-button color="light" small (click)='abrirModalCategoria({tipo:tipo})' clear>Light Clear</button>
        </div-->
        <ion-item>
            <ion-label floating class='cor-label'>Categoria</ion-label>
            <ion-select [(ngModel)]="categoria">
                <ion-option value="alimentacao">Alimentação</ion-option>
                <ion-option value="cartao">Cartão</ion-option>
                <ion-option value="educacao">Educação</ion-option>
                <ion-option value="cultura">>> Cultura</ion-option>
                <ion-option value="lazer">Lazer</ion-option>
                <ion-option value="moradoa">Moradia</ion-option>
                <ion-option value="eletronico">>> Eletronico</ion-option>
                <ion-option value="hotel">>> Hotel</ion-option>
                <ion-option value="outros">Outros</ion-option>
                <ion-option value="salario">Salário</ion-option>
                <ion-option value="saude">Saúde</ion-option>
                <ion-option value="cosmeticos">>> Cosméticos</ion-option>
                <ion-option value="drogaria">>> Drogaria</ion-option>
                <ion-option value="telefonia">Telefonia</ion-option>
                <ion-option value="transporte">Transporte</ion-option>
                <ion-option value="vestuario">Vestuário</ion-option>
            </ion-select>
        </ion-item>

        <ion-item *ngIf="tipo!='transferência'">
            <ion-label floating class='cor-label'>Conta/Cartão</ion-label>
            <ion-select [(ngModel)]="cartao" (ngModelChange)="fatura($event)">
                <ion-option value="alimentacao">Caixa</ion-option>
                <ion-option value="cartao-1">Platinum Caixa Visa</ion-option>
                <ion-option value="cartao-2">Santander FIT Mastercard</ion-option>
                <ion-option value="cartao-3">Santander FREE Visa</ion-option>
            </ion-select>
        </ion-item>
        <ion-item *ngIf="selectFatura">
            <ion-label stacked class='cor-label'>Lançado na fatura de</ion-label>
            <ion-select [(ngModel)]="mesFatura">
                <ion-option value="fatura-3">Março de 2017</ion-option>
                <ion-option value="fatura-4">Abril de 2017</ion-option>
                <ion-option value="fatura-5">Maio de 2017</ion-option>
                <ion-option value="fatura-6">Junho de 2017</ion-option>
                <ion-option value="fatura-7">Julho de 2017</ion-option>
                <ion-option value="fatura-8">Agosto de 2017</ion-option>
                <ion-option value="fatura-9">Setembro de 2017</ion-option>
            </ion-select>
        </ion-item>
        <ion-item *ngIf="tipo=='transferência'">
            <ion-label floating class='cor-label'>Conta Origem</ion-label>
            <ion-select [(ngModel)]="cartaoOrigem">
                <ion-option value="alimentacao">Caixa</ion-option>
                <ion-option value="cartao-1">Platinum Caixa Visa</ion-option>
                <ion-option value="cartao-2">Santander FIT Mastercard</ion-option>
                <ion-option value="cartao-3">Santander FREE Visa</ion-option>
            </ion-select>
        </ion-item>
        <ion-item *ngIf="tipo=='transferência'">
            <ion-label floating class='cor-label'>Conta Destino</ion-label>
            <ion-select [(ngModel)]="cartaoDestino">
                <ion-option value="alimentacao">Caixa</ion-option>
                <ion-option value="cartao-1">Platinum Caixa Visa</ion-option>
                <ion-option value="cartao-2">Santander FIT Mastercard</ion-option>
                <ion-option value="cartao-3">Santander FREE Visa</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label floating class='cor-label'>Descrição</ion-label>
            <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating class='cor-label'>Observação</ion-label>
            <ion-input type="text"></ion-input>
        </ion-item>
    </ion-list>

    <div style="height: 80px"></div>

    <ion-fab center bottom>
        <button ion-fab
            [color]= "{'despesa':'danger','receita':'secondary','transferência':'gray'}[tipo]"
        ><ion-icon ios="ios-checkmark" md="md-checkmark"></ion-icon></button>
    </ion-fab>
</ion-content>




