$verde: #66BB6A;
$vermelho: #F44336;
$cinza: #9E9E9E;
$cinzaEscuro: #757575;
$branco: #fff;

page-lancamento {

    ion-navbar.red div.toolbar-background {
        border-color: $vermelho;
        background: $vermelho;
    }

    ion-navbar.green div.toolbar-background {
        border-color: $verde;
        background:  $verde;
    }

    ion-navbar.gray div.toolbar-background {
        border-color: $cinza;
        background: $cinza;
    }

    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: $branco;
    }

    .bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default {
        color: $branco;
    }

    .bar-button-default-wp, .bar-button-clear-wp-default, .bar-button-wp-default {
        color: $branco;
    }

    .teclado {
        display: flex;
    }

    .estrutura_input{
        justify-content: flex-end;
        align-content: center;
        align-items: center;
        padding-top: 30px;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 30px;
        height: 54px;
    }

    .cor-vermelha {
        color: $vermelho;
    }
    .cor-verde {
        color: $verde;
    }
    .cor-cinza {
        color: $cinza;
    }

    .cor-label {
        color: $cinzaEscuro;
    }
    .tamanho {
        font-size: 45px;
    }

    .cifrao {
        font-size: 20px;
        padding-right: 10px;
    }

    .grid-basic-page {
        ion-col div {
            padding: 5px;
            text-align: center;
        }
    }

    div button .button-inner {
        font-size: 40px;
    }
}
