page-conta-modal {
    
    ion-navbar.red div.toolbar-background {
        border-color: #F44336;
        background: #F44336;
    }

    ion-navbar.green div.toolbar-background {
        border-color: #4CAF50;
        background: #4CAF50;
    }

    ion-navbar.gray div.toolbar-background {
        border-color: #9E9E9E;
        background: #9E9E9E;
    }

    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: #fff;
    }

    .bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default {
        color: #fff;
    }

    .bar-button-default-wp, .bar-button-clear-wp-default, .bar-button-wp-default {
        color: #fff;
    }
}
