$verde: #66BB6A;
$vermelho: #F44336;
$cinza: #9E9E9E;
$cinzaEscuro: #757575;
$cinzaClaro: rgb(200, 199, 204);
$branco: #fff;
$brancoMaisEscuro: #f5f5f5;
$azul: #2196F3;
$preto: #212121;

page-home {
    .content{
        background-color: $brancoMaisEscuro;
    }

    .menu_toogle{
        color: $branco;
    }

    .toolbar-background {
        border-color: $azul;
        background: $azul;
    }
    .toolbar-title-md{
        color: $branco;
    }

    .alerta_semana{
        display: flex;
    }

    .style_alerta_semana{
        border-right: 0.55px solid $cinzaClaro;
    }

    .style_alerta_semana_flex{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 11px;
        color: $cinzaEscuro;
        text-align: center;
    }

    .style_alerta_semana_numero{
        font-size: 35px;
        color: $vermelho;
    }

    .btn_resolver{
        margin-top: 10px;
    }

    .list-wp > .item-block:last-child, .list-wp > .item-wrapper:last-child .item-block {
        border-bottom: 0.55px solid $cinzaClaro;
        border-top: 0.55px solid $cinzaClaro;
    }

    .list.list-md{
        border-bottom: 0.55px solid $cinzaClaro;
        border-top: 0.55px solid $cinzaClaro;
    }

    .cardheader{
        font-size: 15px;
        color: $cinzaEscuro;
    }

    .cardcredit{
        font-size: 12px;
        color: $preto;
        overflow:hidden;
        white-space:nowrap;
        text-overflow: ellipsis;
        width: 130px;
    }

    .saldo{
        color: $azul;
        justify-content: center;
        display: flex;
    }

    .saldo_cifrao{
        font-size: 20px;
        padding-top: 5px;
    }

    .saldo_valor{
        font-size: 35px;
        margin-left: 10px;
    }

    .saldo_geral_text{
        font-size: 12px;
        color: $cinzaEscuro;
        justify-content: center;
        display: flex;
    }

    .periodo{
        font-size: 12px;
        color: $preto;
        text-align: center;
        margin-bottom: 10px;
    }

    .resumo{
        display: flex;
        justify-content: space-between;
        align-content: flex-start;
        margin-top: 5px;
    }

    .receita{
        /*color: #4CAF50;*/
        color: $verde;
    }

    .despesa{
        color: $vermelho;
    }

    .resultado{
        font-size: 12px;
    }

    .conta{
        font-size: 15px;
        color: $azul;
    }

    .cardcredit_number_fatura{
        font-size: 12px;
        color: $preto;
        margin-left: 3px;
    }

    .cardcredit_number_limite{
        font-size: 12px;
        color: $cinzaEscuro;
        margin-left: 3px;
    }

    .cardcredit_detail{
        font-size: 10px;
        color: $cinzaEscuro;
    }

    .verde{
      color: $verde;
    }
}
