page-home {
    .content{
        background-color: #f5f5f5
    }

    .menu_toogle{
        color: #fff;
    }

    .toolbar-background {
        border-color: #2196F3;
        background: #2196F3;
    }
    .toolbar-title-md{
        color: #fff
    }

    .alerta_semana{
        display: flex;
    }

    .style_alerta_semana{
        border-right: 0.55px solid rgb(200, 199, 204);
    }

    .style_alerta_semana_flex{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 11px;
        color: #757575;
        text-align: center;
    }

    .style_alerta_semana_numero{
        font-size: 35px;
        color: #F44336;
    }

    .btn_resolver{
        margin-top: 10px;
    }

    .list-wp > .item-block:last-child, .list-wp > .item-wrapper:last-child .item-block {
        border-bottom: 0.55px solid rgb(200, 199, 204);
        border-top: 0.55px solid rgb(200, 199, 204);
    }

    .list.list-md{
        border-bottom: 0.55px solid rgb(200, 199, 204);
        border-top: 0.55px solid rgb(200, 199, 204);
    }

    .cardheader{
        font-size: 15px;
        color: #757575
    }

    .cardcredit{
        font-size: 12px;
        color: #212121;
        overflow:hidden; 
        white-space:nowrap;
        text-overflow: ellipsis;
        width: 130px;
    }

    .conta{
        font-size: 15px;
        color: #2196F3;
    }

    .cardcredit_number_fatura{
        font-size: 12px;
        color: #212121;
        margin-left: 3px;
    }

    .cardcredit_number_limite{
        font-size: 12px;
        color: #757575;
        margin-left: 3px;
    }

    .cardcredit_detail{
        font-size: 10px;
        color: #757575;
    }
}