<ion-header>
  <ion-navbar
    [ngClass]="{'despesa':'red','receita':'green','transferência':'gray'}[tipo]"
  >
  <ion-buttons start>
      <button ion-button (click)="sair()">
        <span ion-text color="white" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list radio-group [(ngModel)]="repetir">
    <ion-item>
      <ion-label>Fixo</ion-label>
      <ion-radio value="fixa"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Parcelado</ion-label>
      <ion-radio value="parcelada"></ion-radio>
    </ion-item>
  </ion-list>


    <ion-list radio-group  *ngIf="repetir=='fixa'" [(ngModel)]="periodo">
      <ion-list-header>
          Período
      </ion-list-header>
      <ion-item>
        <ion-label>Diário</ion-label>
        <ion-radio value="diaria"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Semanal</ion-label>
        <ion-radio value="semanal"></ion-radio>
      </ion-item>
          <ion-item>
        <ion-label>Quinzenal</ion-label>
        <ion-radio value="quinzenal"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Mensal</ion-label>
        <ion-radio value="mensal"></ion-radio>
      </ion-item>
          <ion-item>
        <ion-label>Bimestral</ion-label>
        <ion-radio value="bimestral"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Trimestral</ion-label>
        <ion-radio value="trimestral"></ion-radio>
      </ion-item>
          <ion-item>
        <ion-label>Semestral</ion-label>
        <ion-radio value="semestral"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Anual</ion-label>
        <ion-radio value="anual"></ion-radio>
      </ion-item>
    </ion-list>


    <ion-item  *ngIf="repetir=='parcelada'">
      <ion-label floating>Quantidade</ion-label>
      <ion-input type="number" [min]='2' [(ngModel)]='quantidade'></ion-input>
    </ion-item>

    <ion-list radio-group  *ngIf="repetir=='parcelada'" [(ngModel)]="periodo">
      <ion-list-header>
          Período
      </ion-list-header>
      <ion-item>
        <ion-label>Dias</ion-label>
        <ion-radio value="dias"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Semanas</ion-label>
        <ion-radio value="semanas"></ion-radio>
      </ion-item>
          <ion-item>
        <ion-label>Quinzenas</ion-label>
        <ion-radio value="quinzenas"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Meses</ion-label>
        <ion-radio value="meses"></ion-radio>
      </ion-item>
          <ion-item>
        <ion-label>Bimestres</ion-label>
        <ion-radio value="bimestres"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Trimestres</ion-label>
        <ion-radio value="trimestres"></ion-radio>
      </ion-item>
          <ion-item>
        <ion-label>Semestres</ion-label>
        <ion-radio value="semestres"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Anos</ion-label>
        <ion-radio value="anos"></ion-radio>
      </ion-item>
    </ion-list>

    <div style="height: 50px"></div>

    <ion-fab center bottom>
        <button ion-fab (click)='registarLancamento(repetir, periodo, quantidade)'
            [color]= "{'despesa':'danger','receita':'secondary','transferência':'gray'}[tipo]"
        ><ion-icon ios="ios-checkmark" md="md-checkmark"></ion-icon></button>
    </ion-fab>

</ion-content>
