$verde: #66BB6A;
$vermelho: #F44336;
$cinza: #9E9E9E;
$cinzaEscuro: #757575;
$cinzaClaro: rgb(200, 199, 204);
$branco: #fff;
$brancoMaisEscuro: #f5f5f5;
$azul: #2196F3;
$preto: #212121;

.menu_toogle{
    color: $branco;
}

.toolbar-background {
    border-color: $azul;
    background: $azul;
}
.toolbar-title-md{
    color: $branco;
}

.icon-left{
    padding-left: 20px;
}

.color-item{
    color: $cinzaEscuro;
}